@model Pavestone.Models.ViewModels.ProductVM
@{
    String action = (Model.Product.Id == 0) ?  "Add" :  "Edit";
    ViewData["Title"] =  action + " Product";
}

<form method="post" enctype="multipart/form-data" id="product_form">
    <input hidden asp-for="Product.Id" />
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">@action Product</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ShortDesc"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.ShortDesc" class="form-control"></textarea>
                        <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Image"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Image" id="uploadBox" type="file" multiple class="form-control" />
                        <span asp-validation-for="Product.Image" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                            <option selected disabled>-- Select Category --</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ApplicationTypeId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.ApplicationTypeId" asp-items="@Model.ApplicationTypeSelectList" class="form-control">
                            <option selected disabled>-- Select Application Type --</option>
                        </select>
                        <span asp-validation-for="Product.ApplicationTypeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" id="@action-Submit" class="btn btn-info w-100" value="@action" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                <i class="fas fa-sign-out-alt"></i> &nbsp; Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if (Model.Product.Id != 0)
                {
                    <img src="@Constants.ProductImagesPath\@Model.Product.Image" width="100%" style="border:1px solid #bbb; border-radius:5px" />

                }
            </div>
        </div>

    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        $(document).ready(function () {

            $('.summernote').summernote({
                height: 250
            })
            $('#product_form').submit(function () {
                var plainText = $($(".summernote").summernote("code")).text()
                var removedSpaces = plainText.replace(/(?:\\[rn]|[\r\n]+)+/g, "")
                $('.summernote').val(removedSpaces)
            })



            $("#Add-Submit").on('click', function () {
                if (document.getElementById("uploadBox").value == "") {
                    Swal.fire(
                        'Error!',
                        'Please upload an image!',
                        'error'
                    )
                    return false;
                }
                return true;
            })
        });


    </script>
}